﻿
@{
    ViewBag.Title = "Connection";
}

<h1>Pony Express Examples</h1>

    <h1 style="float:left;">Sample Connection</h1>
    <h1 style="float:right;">@Html.ActionLink("Message Flow", "Index")</h1>
    <div style="clear:both;"></div>

<div style="background-color:#FFF; margin-top:20px; padding: 20px;">
    <ol>
        <li>
            <p>
                Message Server is started, and immediately the server is listening for new connections (MessageServer.cs - ConnectionListener() loop)
            </p>
            <img src="~/Content/Images/Screenshots/DemoServer.jpg" />
        </li>

        <li>
            <p>
                Unity Client registers the ClientSettings script to the Main Camera of its first Scene - The script will persist automatically
                throughout the life of the application - no further actions are necessary to initialize or maintain the Pony Express client.
            </p>
            <img src="~/Content/Images/Screenshots/Client_FirstScene.jpg" />
        </li>

        <li>
            <p>
                Unity Client calls the ClientSettings.cs - Connect method to connect to the Message Server once the client is ready to connect.
            </p>
            <img src="~/Content/Images/Screenshots/Client_Connect.jpg" />
        </li>

        <li>
            <p>
                Unity Client (Asynchronously, during the ClientSettings.cs Update() routine) method opens a Socket with the Message Server
                and sends any Login Information provided by the Client
            </p>
            <img src="~/Content/Images/Screenshots/DemoServer_LoginPlayer.jpg" />
        </li>

        <li>
            <p>
                Message Server registers a listener for the newly connected Client, and waits for more messages
            </p>
            <img src="~/Content/Images/Screenshots/DemoServer_Connected.jpg" />
        </li>
    </ol>
</div>