﻿@{
}

@section styles {
    @Styles.Render("~/Content/jqueryuicss")
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryui")

    <script type="text/javascript">
        $('#accordion').accordion({
            heightStyle: "content"
        });
    </script>
}

<h1>Pony Express Examples</h1>

    <h1 style="float:left;">Sample Pony Express Message Flow</h1>
    <h1 style="float:right;">@Html.ActionLink("Sample Connection", "Connection")</h1>
    <div style="clear:both;"></div>

<div style="background-color:#FFF; margin-top:20px; padding: 20px;">
    <ol>
        <li>
            <p>
                A Unity Client with Pony Express installed is connected to a Pony Express Message Server and wants to send a chat message.
            </p>
            <p>
                For more information on how this connection is made, see the Sample Connection example @Html.ActionLink("Here", "Connection")
            </p>
            <img src="~/Content/Images/Screenshots/DemoServer_Connected.jpg" />
        </li>

        <li>
            <p>
                This example will use the Chat Client included in Pony Express - In addition to the required Client Settings script,
                please also add the Chat Client script to add Chat functionality into your application.
            </p>
            <img src="~/Content/Images/Screenshots/Client_ChatEnabled.jpg" />
        </li>

        <li>
            <p>
                Unity Client - Chat Client send button calls the ChatClient.SendChat() static method
            </p>
            <img src="~/Content/Images/Screenshots/ChatClient_SendChat.jpg" />
        </li>

        <li>
            <p>
                The SendChat method calls the static method inside of DefaultMessaging.cs to send the chat message to the server
            </p>
            <img src="~/Content/Images/Screenshots/DefaultMessaging_SendChat.jpg" />
        </li>

        <li>
            <p>
                The Message Server receives the message that a chat has been sent
            </p>
            <img src="~/Content/Images/Screenshots/DemoServer_HandleMessage.jpg" />
        </li>

        <li>
            <p>
                The Message Server broadcasts the message to all connected clients
            </p>
            <img src="~/Content/Images/Screenshots/DemoServer_BroadcastChat.jpg" />
        </li>

        <li>
            <p>
                The connected clients all receive messages through an incoming message queue informing them that a chat occurred
            </p>
            <img src="~/Content/Images/Screenshots/Client_MessageReceived.jpg" />
        </li>

        <li>
            <p>
                The Unity Client consumes the message as needed so that the message can be processed
            </p>
            <img src="~/Content/Images/Screenshots/ChatClient_ProcessMessage.jpg" />
        </li>

        <li>
            <p>
                The Unity Client shows the message in a scroll view, so that the user can read the Chat Message
            </p>
            <img src="~/Content/Images/Screenshots/Message_FullCircle.jpg" />
        </li>
    </ol>

</div>