﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>New Moon Legacy is built using Unity, on top of the <a href="http://newmoonlegacy.com/PonyExpress">Pony Express</a> networking engine.</p>
