﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>New Moon</h1>
    <p class="lead">New encounters, new adventures, new world.  Please join us and see what all the excitement is about.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            First register for an account with Robot Avenger.
        </p>
        <p>
            Just click the button below!  
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Register", "Account")">Register &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Download the game</h2>
        <p>Once you have your account, download the correct installer.</p>
        <p><a class="btn btn-default" href="http://robotavenger.blob.core.windows.net/data/Win.zip">Windows&raquo;</a></p>
        <p><a class="btn btn-default" href="http://robotavenger.blob.core.windows.net/data/OSX.app.zip">OS X&raquo;</a></p>
        <p><a class="btn btn-default" href="mailto:newmoonlegacy@gmail.com?subject=iOS Demo&body=Please add me to the iOS demo!">iOS&raquo;</a></p>
        <p><a class="btn btn-default" href="https://play.google.com/store/apps/details?id=com.sandjay.mmorpg">Android&raquo;</a></p>
        <p><a class="btn btn-default" href="mailto:newmoonlegacy@gmail.com?subject=WinPhone Demo&body=Please add me to the Win Phone demo!">Win Phone&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Still Confused?</h2>
        <p>Send New Moon Legacy an E-Mail.  We're standing by to hear your questions!.</p>
        <p><a class="btn btn-default" href="mailto:newmoonlegacy@gmail.com?Subject=New Moon Legacy questions">Learn more &raquo;</a></p>
    </div>
</div>