﻿@using GameWeb.Models
@model PlayerModel

@{
    ViewBag.Title = "Home";
}

<h2>Welcome @Model.PlayerName</h2>

<p>Feel free to edit account settings or character settings</p>

<div class="row">
    <div class="col-md-4">
        <h2>My account</h2>
        <p>
            @Html.ActionLink("Edit Account Settings", "Index", "Manage")
        </p>
        </div>
    <div class="col-md-4">
        <h2>My characters</h2>
        <p>
            @Html.ActionLink("Edit Characters", "Character", "Home")
        </p>
    </div>
    <div class="col-md-4">
        <h2>Download the game</h2>
        <p><a class="btn btn-default" href="http://robotavenger.blob.core.windows.net/data/Win.zip">Windows&raquo;</a></p>
        <p><a class="btn btn-default" href="http://robotavenger.blob.core.windows.net/data/OSX.app.zip">OS X&raquo;</a></p>
        <p><a class="btn btn-default" href="mailto:newmoonlegacy@gmail.com?subject=iOS Demo&body=Please add me to the iOS demo!">iOS&raquo;</a></p>
        <p><a class="btn btn-default" href="https://play.google.com/store/apps/details?id=com.sandjay.mmorpg">Android&raquo;</a></p>
        <p><a class="btn btn-default" href="mailto:newmoonlegacy@gmail.com?subject=WinPhone Demo&body=Please add me to the Win Phone demo!">Win Phone&raquo;</a></p>
    </div>
</div>