﻿@model NewMoonSolutions.Models.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "Register";
}
<h2>@ViewBag.Title.</h2>
<h3>Associate your @ViewBag.LoginProvider account.</h3>

@using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <h4>Association Form</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <p class="text-info">
        You've successfully authenticated with <strong>@ViewBag.LoginProvider</strong>.
        Please enter an email to associate with this site below, create a character, and click the Register button to finish
        logging in.
    </p>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new {@class = "col-md-2 control-label"})
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new {@class = "form-control"})
            @Html.ValidationMessageFor(m => m.Email, "", new {@class = "text-danger"})
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.CharacterName, new {@class = "col-md-2 control-label"})
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.CharacterName, new {@class = "form-control"})
            @Html.ValidationMessageFor(m => m.CharacterName)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.CharacterTypeID, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.CharacterTypeID, new SelectList(Model.CharacterOptions, "Key", "Value", Model.CharacterTypeID), new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.CharacterTypeID)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
}

<p>
    Our privacy policy: <a href="~/Home/Privacy">Privacy</a>
</p>
<hr />
<p>
    <h4>Woodsman:</h4> This character has spent most of his life out of doors. Strong willed and determined, the Woodsman is
    not afraid of danger and is willing to endure a little risk to get a big reward.
</p>
<p>
    <h4>Merchant:</h4> This character enjoys the nicer things in life. Prefering to use his smarts instead of his strength, the Merchant likes to
    stand back from a fight and manipulate the environment to better suit his needs.
</p>
<p>
    <h4>Woodsman abilities: </h4>
    <ul>
        <li>Double Strike - Hit the target twice quickly to deal extra damage</li>
        <li>Mark Target - Decrease target's agility</li>
        <li>Berserk - Target (ally) gains extra offensive strength</li>
        <li>Expert Skinner - More frequently gain drops from enemies</li>
        <li>Rugged Defense - Permanently improve defense</li>
        <li>Rugged Offense - Permanently improve offensive strength</li>
        <li>Bow and Arrow - Ranged ability in battle effective from back row</li>
    </ul>
</p>
<p>
    <h4>Merchant abilities:</h4>
    <ul>
        <li>Shield - Target (ally) gains extra defense</li>
        <li>Greek Fire - Inflict fire damage on target</li>
        <li>Distract - Target loses initiative for one or more turn</li>
        <li>Medicine - Target (ally) restores health</li>
        <li>Clever Salesmen - Permanently improve spell strength, decrease item store cost, improve item sale value</li>
        <li>Careful Connoisseur - Permanent chance to reuse items in battle</li>
        <li>Gun - Ranged ability in battle effective from back row</li>
    </ul>
</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
