﻿@{
    ViewBag.Title = "About";
}

<h2>New Moon Legacy</h2>

<div style="background-color:#FFF; margin-top:20px; padding: 20px;">
    <p>Based near Minneapolis Minnesota, USA - We focus on developing useful and robust tools for a wide variety of solutions.</p>
    <p>Need help with your Unity project?  Have questions about a potential Unity solution?  Let us know!</p>
    <p>Our privacy policy: <a href="~/Home/Privacy">Privacy</a></p>
</div>