﻿@using NewMoonSolutions.Models
@model CharacterModel

@{
    ViewBag.Title = "Character";
}

<h2>Character</h2>

@using (Html.BeginForm("Character", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Character</h4>
    <hr />
    @Html.HiddenFor(m => m.CharacterID)

    @Html.ActionLink("Reset Character", "ResetCharacter", new { characterID = @Model.CharacterID, characterTypeID = @Model.CharacterTypeID }, new { @class = "button" })

    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.CharacterName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.CharacterName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.CharacterTypeID, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.CharacterTypeID, new SelectList(Model.CharacterOptions, "Key", "Value", Model.CharacterTypeID), new { @class = "form-control" })
            <input type="submit" class="btn btn-default" value="Update" />
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Level, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DisplayFor(m => m.Level)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.MaxHealth, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DisplayFor(m => m.MaxHealth)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.MaxEnergy, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DisplayFor(m => m.MaxEnergy)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Strength, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DisplayFor(m => m.Strength)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Defense, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DisplayFor(m => m.Defense)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Agility, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DisplayFor(m => m.Agility)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Charisma, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DisplayFor(m => m.Charisma)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Willpower, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DisplayFor(m => m.Willpower)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Intelligence, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DisplayFor(m => m.Intelligence)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.SkillPoints, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DisplayFor(m => m.SkillPoints)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Abilities, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.Abilities)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Inventory, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.Inventory)
        </div>
    </div>

    <h4>@Model.SaveMessage</h4>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}