﻿@{
    ViewBag.Title = "Who we are:";
}
<h2>@ViewBag.Title</h2>

<div style="background-color:#FFF; margin-top:20px; padding: 20px;">
    <h3>@ViewBag.Message</h3>

    <address>
        Burnsville, MN 55337<br />
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:newmoonlegacy@gmail.com">NewMoonLegacy@gmail.com</a>
    </address>
</div>