﻿@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <img src="~/Content/Images/Banner.png" alt="New Moon" />
</div>

<div class="row" style="background-color:#FFF">
    <div class="col-md-6">
        <h2>Pony Express</h2>
        <p>
            Interested in adding networking to your Unity Project?
        </p>
        <p>
            Pony Express is the networking engine used by New Moon, and we want to have you try it out with your next project!
        </p>
        <p>
            Use Pony Express to standardize your network communication with iOS, Android, Web GL, Unity Web Client, Windows, and Mac OS X.
        </p>
        <p>
            Click here for more information:
            <a href="http://newmoonlegacy.com/PonyExpress">Pony Express</a>
        </p>
        <img src="~/Content/Images/PonyExpress.gif" alt="Pony Express" />
    </div>
    <div class="col-md-6">
        <h2>Download the game</h2>
        <p>
            A group of settlers have discovered a new land.  Help them to explore this strange and exotic place and find out who has come before you.
        </p>
        <p>Select the correct installer for your devices.</p>
        <p><a class="btn btn-default" href="http://robotavenger.blob.core.windows.net/data/Win.zip">Windows&raquo;</a></p>
        <p><a class="btn btn-default" href="http://robotavenger.blob.core.windows.net/data/OSX.app.zip">OS X&raquo;</a></p>
        <p><a class="btn btn-default" href="mailto:newmoonlegacy@gmail.com?subject=iOS Demo&body=Please add me to the iOS demo!">iOS&raquo;</a></p>
        <p><a class="btn btn-default" href="https://play.google.com/store/apps/details?id=com.newmoon.legacy">Android&raquo;</a></p>
        <p><a class="btn btn-default" href="mailto:newmoonlegacy@gmail.com?subject=WinPhone Demo&body=Please add me to the Win Phone demo!">Win Phone&raquo;</a></p>
    </div>
</div>