﻿<!doctype html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Unity WebGL Player | New Moon Legacy</title>
    <link rel="stylesheet" href="https://robotavenger.blob.core.windows.net/data/WebGL/TemplateData/style.css">
    <link rel="shortcut icon" href="https://robotavenger.blob.core.windows.net/data/WebGL/TemplateData/favicon.ico" />
    <script src="https://robotavenger.blob.core.windows.net/data/WebGL/TemplateData/UnityProgress.js"></script>
</head>
<body class="template">
    <p class="header"><span>Unity WebGL Player | </span>New Moon Legacy</p>
    <div class="template-wrap clear">
        <canvas class="emscripten" id="canvas" oncontextmenu="event.preventDefault()" height="600px" width="960px"></canvas>
        <br>
        <div class="logo"></div>
        <div class="fullscreen"><img src="https://robotavenger.blob.core.windows.net/data/WebGL/TemplateData/fullscreen.png" width="38" height="38" alt="Fullscreen" title="Fullscreen" onclick="SetFullscreen(1);" /></div>
        <div class="title">New Moon Legacy</div>
    </div>
    <p class="footer">&laquo; created with <a href="http://unity3d.com/" title="Go to unity3d.com">Unity</a> &raquo;</p>
    <script type='text/javascript'>
  var Module = {
    TOTAL_MEMORY: 268435456,
    errorhandler: null,			// arguments: err, url, line. This function must return 'true' if the error is handled, otherwise 'false'
    compatibilitycheck: null,
    dataUrl: "/Content/WebGL/Release/WebGL.data",
    codeUrl: "/Content/WebGL/Release/WebGL.js",
    memUrl: "/Content/WebGL/Release/WebGL.mem",
  };
    </script>
    <script src="https://robotavenger.blob.core.windows.net/data/WebGL/Release/UnityLoader.js"></script>

</body>
</html>
