﻿@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>Pony Express</h1>
    <h2 style="padding-bottom: 40px;">The perfect messaging utility for young, skinny, wiry fellows willing to risk death daily.  Orphans preferred.</h2>
    <p class="lead">
        Pony Express is a framework that allows you to immediately add socket based networking and messaging to your Unity project.  It is fully customizable to allow
        your application to send whatever information you need, and also comes with a built-in client chat framework.
    <p>
    <p class="lead">
        Not only does it allow you to have networking on Windows, Mac OS X, Android, iOS, Web GL, Unity Web Client, and the Windows Store (Including Windows Phone 8.1)
        without needing a Unity Pro license, but all of the work is done for you - just plug and play!
        Check out our demos to see how easy it is to get started with Pony Express today.
    </p>
</div>

<div class="row" style="background-color:#FFF">
    <div class="col-md-4">
        <h2>Get started</h2>
        <p>
            <ol>
                <li><b>Click</b> on Pony Express in the Unity <a href="https://www.assetstore.unity3d.com/en/#!/content/24903" target="_blank">Store</a> to add the framework to your unity project</li>
                <li><b>Add</b> the ClientSettings script to the Main Camera in the first scene of your application</li>
                <li><b>Call</b> clientSettings.Connect() to connect your Unity client to your server, with the correct IP Address &amp; Port</li>
                <li><b>That's it!</b>  Enjoy instant network connectivity, and spend more time making your application be the best Unity application</li>
            </ol>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Get more information</h2>
        <p>
            Watch a YouTube tutorial video showing Pony Express in action!
        </p>
        <p>
            <a href="https://www.youtube.com/watch?v=TSVFEN2Isxc">
                <img src="~/Content/Images/YouTube.jpg" alt="You Tube" height="100" />
            </a>
        </p>
        <p>
            Play an online game built using the Pony Express Engine!
        </p>
        <p>
            <a class="btn btn-default" href="http://newmoonlegacy.com/Home/WebGLDemo">
                <img src="~/Content/Images/NewMoonLogo.jpg" alt="You Tube" height="100" />
            </a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Ask Questions</h2>
        <p>
            Need help getting your project to work with Pony Express?
        </p>
        <p>
            Trying to use Pony Express for your networking and don't know where to start?
        </p>
        <p>
            Click here to email a New Moon representative:
            <a href="mailto:newmoonlegacy@gmail.com">NewMoonLegacy@gmail.com</a>
        </p>
        <img src="~/Content/Images/PonyExpress.gif" alt="Pony Express" />
    </div>
</div>