﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ThirdPartySuccess</title>
</head>
<body>
<div>
    Login successful.  Please return to the game.
</div>
</body>
</html>
